[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=no -o BatchMode=yes -o PasswordAuthentication=no -o KbdInteractiveAuthentication=no
