global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: 'watchtower'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'blackbox'
    static_configs:
      - targets: ['localhost:9115']

  - job_name: 'adguard'
    static_configs:
      - targets: ['localhost:9618']

  - job_name: 'monolith'
    static_configs:
      - targets: ['monolith.littlewolfacres.com:9100']

  - job_name: 'snmp-er605'
    static_configs:
      - targets: ['192.168.0.1']
    metrics_path: /snmp
    params:
      module: [if_mib]
      auth: [littlewolfacres_v2]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9116

  - job_name: 'snmp-eap-yarn-studio'
    static_configs:
      - targets: ['192.168.0.5']
    metrics_path: /snmp
    params:
      module: [if_mib]
      auth: [littlewolfacres_v2]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9116

  - job_name: 'snmp-eap-foyer'
    static_configs:
      - targets: ['192.168.0.2']
    metrics_path: /snmp
    params:
      module: [if_mib]
      auth: [littlewolfacres_v2]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: localhost:9116
  - job_name: 'tmobile'
    static_configs:
      - targets: ['localhost:9719']
  - job_name: 'reolink_nvr'
    static_configs:
      - targets: ['localhost:9720']
